<div class="nav-card bg-primary">
    <%= render 'devise/shared/nav' %>
    <div class="nav-card-body mx-2">
        <%= link_to 'Oldest', categories_most_ancient_path, class: '' %>
        <%= link_to 'Recent', categories_most_recent_path, class: '' %>
    </div>
</div>
<div class="card">
    <div class="card-body">
    <p>Finances</p>
    </div>
</div>
<div class="card bg-light text-dark">
    <% @categories.each do |category| %>
        <div class="card-body">
            <div class="m-3 bg-light category-card shadow-sm bg-light rounded">
                <% if category.icon.present? %>
                    <%= image_tag category.icon, class: "catagory-photo" %>
                <% else %>
                    <%= image_tag "category.jpg", class: "catagory-photo" %>
                <% end %>
                <div class="trans-text">
                    <div class="trans-name">
                        <p class=""><%= link_to category.name, category_payments_path(category_id: category.id) %></p>
                        <p class="fw-bold">$<%= Payment.where(category_id: category.id).reduce(0) { |sum, t| sum + t.amount } %></p>
                    </div>
                    <p class="date-text text-end"><%= l category.created_at.to_date, format: :long %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="btn-wrapper d-grid gap-2 d-md-block">
  <button class="btn-main" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Category">
    <%= link_to 'Add Category', new_category_path %>
  </button>
</div>